.main {
    background-color: lightslategray;
    margin: 0 auto;
    padding: auto;
    width: max-content;
    overflow: hidden;
}

.row {
    margin: 
    height: max-content;
    overflow: hidden;
}